---
---

@import "{{ site.theme }}";

// Define color variables
$primary-color: black;
$secondary-color: #ffffff;

// Body styling
body {
  background-color: $primary-color;
}

// Header styling
.header {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 20px;
}

// Content styling
.content {
  color:white;
}

// Link styling
a {
  color: $secondary-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
