---
---

@import "{{ site.theme }}";

// Define color variables
$primary-color: white;
$secondary-color: black;
$tertiary-color: #7a64fa;

// Body styling
body {
  background-color: $primary-color;
}

// Header styling
.header {
  background-color: $primary-color;
  color: $secondary-color;
  padding: 20px;
}

// Content styling
.content {
  background-color:$primary-color;
  color:$secondary-color;
}

// Link styling
a {
  color: #376b6b;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
    color: #62a3a3;
  }
}
